
<nav class="sidemenu">
  <ul>

    <li>
      <img src="../../../assets/logo.png" width="40px">
      <span class="logo">Crud Users</span>
    </li>

    <li routerLink="/home">
      <mat-icon>home</mat-icon> Nome
    </li>

    <li routerLink="/crud">
      <mat-icon>person_add</mat-icon> Cadastrar usuários
    </li>

    <a href="https://firebase.google.com/docs?hl=pt-br" target="_blank">
      <li>
        <mat-icon>local_fire_department</mat-icon>Firebase
      </li>
    </a>

    <a href="https://angular.dev" target="_blank">
      <li>
        <mat-icon>description</mat-icon>Angular
      </li>
    </a>

    <li routerLink="/login" class="logout">
      <mat-icon>logout</mat-icon> Sair
    </li>
  </ul>
</nav>
