<div class="container-fluid p-3">

  <mat-icon class="float-end hover" (click)="closeModal()" >close</mat-icon>

  <h1 class="titulo" *ngIf="!nameUser">Formulário de usuário</h1>
  <h1 class="titulo" *ngIf="nameUser" >Editar dados do usuário {{nameUser}}</h1>
  <h2 class="subtitulo">Preencha o formulário para cadastrar o usuário</h2>

  <!-- Estrutura do formulário  -->
   <form class="row" [formGroup]="formUser">



    <div class="col-12 col-md-6 mb-2">
      <mat-form-field class="example-full-width w-100">
        <mat-label>Nome</mat-label>
        <input type="text" matInput formControlName="name" placeholder="Digite seu nome">
        @if (formUser.controls['name'].invalid) {
          <mat-error>Por favor digite um nome válido</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6 mb-2">
      <mat-form-field class="example-full-width w-100">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Digite seu email">
        @if (formUser.controls['email'].invalid) {
          <mat-error>Por favor digite um email válido</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6 mb-2">
      <mat-form-field class="example-full-width w-100">
        <mat-label>Setor</mat-label>
        <input type="text" matInput formControlName="sector" placeholder="Digite o setor">
        @if (formUser.controls['sector'].invalid) {
          <mat-error>Por favor digite um setor válido</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6 mb-2">
      <mat-form-field class="example-full-width w-100">
        <mat-label>Cargo</mat-label>
        <input type="text" matInput formControlName="role" placeholder="Digite seu cargo">
        @if (formUser.controls['role'].invalid) {
          <mat-error>Por favor digite um cargo válido</mat-error>
        }
      </mat-form-field>
    </div>

    <!-- Beneficios - Select  -->
    <div class="col-12 col-md-6 mb-2">
      <mat-form-field class="w-100">
        <mat-label>Plano de Saúde</mat-label>
        <mat-select formControlName="helthPlan">
          @for (plano of planosSaude; track plano) {
            <mat-option [value]="plano.descricao">{{plano.descricao}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

    </div>

    <div class="col-12 col-md-6 mb-2">
      <mat-form-field class="w-100">
        <mat-label>Plano de Odontológico</mat-label>
        <mat-select formControlName="dentalPlan">
          @for (plano of planosOdonto; track plano) {
            <mat-option [value]="plano.descricao">{{plano.descricao}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

    </div>

    <!-- botão -->
    <div class="col-12">
      <button
        class="botao-primario float-end"
        [disabled]="!formUser.valid"
        (click)="saveUser()">
        salvar usuário
      </button>
    </div>


   </form>
</div>
